/* src/index.css */

/* --- 1. DECLARACIÓN DE LA FUENTE PERSONALIZADA --- */
@font-face {
  font-family: 'Acumin Pro Wide';
  /* La ruta ahora apunta a la carpeta de fuentes que creaste */
  src: url('./assets/fonts/AcuminProWide-UltraBlack.woff2') format('woff2'),
       url('./assets/fonts/AcuminProWide-UltraBlack.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap; /* Mejora el rendimiento de carga */
}

* {
  margin: 0;
}

:root {
  --default-font: "Acumin Pro Wide", sans-serif;
  --heading-font: "Acumin Pro Wide", sans-serif;
  --nav-font: "Acumin Pro Wide", sans-serif;

  --background-color: #ffffff;
  --default-color: #444444;
  --heading-color: #111111;
  --accent-color: #C73126; /* Rojo principal */
  --surface-color: #ffffff;
  --contrast-color: #ffffff;
  
  scroll-behavior: smooth;
}

body {
  color: var(--default-color);
  background-color: var(--background-color);
  font-family: var(--default-font);
}

a {
  text-decoration: none;
  transition: transform 0.2s ease-in-out, color 0.3s;
  transition: transform 0.2s ease-in-out;
}

a:hover {
  color: #000;
  text-decoration: none;
  transition: transform 0.2s ease-in-out, color 0.3s;
  transition: transform 0.2s ease-in-out;
  transform: translateY(-2px);
}

button {
  text-decoration: none;
  transition: transform 0.2s ease-in-out, color 0.3s;
  transition: transform 0.2s ease-in-out;
}

button:hover {
  color: #000;
  text-decoration: none;
  transition: transform 0.2s ease-in-out, color 0.3s;
  transition: transform 0.2s ease-in-out;
  transform: translateY(-2px);
}

h1, h2, h3, h4, h5, h6 {
  color: var(--heading-color);
  font-family: var(--heading-font);
}

/* Clases de utilidad */
.dark-background {
  --background-color: #060606;
  --default-color: #ffffff;
  --heading-color: #ffffff;
  --surface-color: #252525;
}

.font-italic {
  font-style: italic;
}

.font-weight-950 {
  font-weight: 950;
}